<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Angular Calculator Application
  </h1>
</div>
<br>
<h2>Addition</h2>
<section>
  <form #addForm="ngForm">
  <input type="text" pattern="[0-9]*" required [(ngModel)]="sum1" name="sumInput1" #sumInput1="ngModel"> + 
  <input type="text" pattern="[0-9]*" required [(ngModel)]="sum2" name="sumInput2" #sumInput2="ngModel">
  <button type="submit" class="btn btn-default" [disabled]="!addForm.form.valid" (click)="calculateSum(); addForm.reset(); subForm.reset(); mulForm.reset(); divForm.reset()"> = </button>
  <h3 [hidden]="!showSum">{{formula}}</h3>
  <div [hidden]="sumInput1.valid || sumInput1.pristine">First value is not an integer.</div>
  <div [hidden]="sumInput2.valid || sumInput2.pristine">Second value is not an integer.</div>
  </form>
</section>
<br>
<h2>Subtraction</h2>
<section>
  <form #subForm="ngForm">
  <input type="text" pattern="[0-9]*" required [(ngModel)]="diff1" name="diffInput1" #diffInput1="ngModel"> - 
  <input type="text" pattern="[0-9]*" required [(ngModel)]="diff2" name="diffInput2" #diffInput2="ngModel">
  <button type="submit" class="btn btn-default" [disabled]="!subForm.form.valid" (click)="calculateDiff(); addForm.reset(); subForm.reset(); mulForm.reset(); divForm.reset()"> = </button>
  <h3 [hidden]="!showDiff">{{formula}}</h3>
  <div [hidden]="diffInput1.valid || diffInput1.pristine">First value is not an integer.</div>
  <div [hidden]="diffInput2.valid || diffInput2.pristine">Second value is not an integer.</div>
  </form>
</section>
<br>
<h2>Multiplication</h2>
<section>
  <form #mulForm="ngForm">
  <input type="text" pattern="[0-9]*" required [(ngModel)]="prod1" name="prodInput1" #prodInput1="ngModel"> * 
  <input type="text" pattern="[0-9]*" required [(ngModel)]="prod2" name="prodInput2" #prodInput2="ngModel">
  <button type="submit" class="btn btn-default" [disabled]="!mulForm.form.valid" (click)="calculateProd(); addForm.reset(); subForm.reset(); mulForm.reset(); divForm.reset()"> = </button>
  <h3 [hidden]="!showProd">{{formula}}</h3>
  <div [hidden]="prodInput1.valid || prodInput1.pristine">First value is not an integer.</div>
  <div [hidden]="prodInput2.valid || prodInput2.pristine">Second value is not an integer.</div>
  </form>
</section>
<h2>Division</h2>
<section>
  <form #divForm="ngForm">
  <input type="text" pattern="[0-9]*" required [(ngModel)]="quot1" name="quotInput1" #quotInput1="ngModel"> / 
  <input type="text" pattern="[0-9]*" required [(ngModel)]="quot2" name="quotInput2" #quotInput2="ngModel">
  <button type="submit" class="btn btn-default" [disabled]="!divForm.form.valid" (click)="calculateQuot(); addForm.reset(); subForm.reset(); mulForm.reset(); divForm.reset()"> = </button>
  <h3 [hidden]="!showQuot">{{formula}}</h3>
  <div [hidden]="quotInput1.valid || quotInput1.pristine">First value is not an integer.</div>
  <div [hidden]="quotInput2.valid || quotInput2.pristine">Second value is not an integer.</div>
  </form>
</section>
